<footer>

  <div class="row">

    <div class="col-lg-3 col-12 header">
      <img src="\images\Logoo.png" alt="" class=" footer-brand-logo">
    </div>
    <div class="col-lg-9 col-12">
      <div class="row">
        <div class="col-lg-3 col-6">
          <p class="blue">Securities</p>
          <ul>
            <li>Anti-Fraud</li>
            <li>Security Tips</li>
            <li>Security Code</li>
            <li>Card Security</li>
            <li>Privacy Policy</li>
          </ul>
        </div>
        <div class="col-lg-3 col-6">
          <p class="blue">features</p>
          <ul>
            <li>Save</li>
            <li>Save</li>
            <li>Budget</li>
            <li>Borrow</li>
            <li>Invest</li>
          </ul>
        </div>
        <div class="col-lg-3 col-6">
          <p class="blue">Company</p>
          <ul>
            <li>Blog</li>
            <li>Press</li>
            <li>Join Our Team</li>
            <li>Angent Network</li>
          </ul>
        </div>
        <div class="col-lg-3 col-6">
          <p class="blue">Transperncy</p>
          <ul>
            <li>Cookies Policy</li>
            <li>Terms and Conditions</li>
            <li>FAQ's</li>
            <li>Contact Us</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row footer-button">
    <div class=" col-12">
      <button type="button" class="btn btn-dark btn-lg "><i class="fa-brands fa-apple"></i>Apple Store</button>
      <button type="button" class="btn btn-dark btn-lg"><i class="fa-brands fa-google-play"></i>Google Store</button>
    </div>

  </div>

  <div class="contact">
    <h3 class="">Get in touch with us</h3>
    <div class="icon-circle">
      <div class="circle">
        <a href="#"><i class=" fa fa-twitter footer-icon" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="icon-circle">
      <div class="circle">
        <a href="#"><i class=" fa fa-facebook footer-icon" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="icon-circle">
      <div class="circle">
        <a href="#"><i class="fa fa-instagram footer-icon" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="icon-circle">
      <div class="circle">
        <a href="#"><i class="fa fa-youtube-play footer-icon" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="icon-circle">
      <div class="circle">
        <a href="#"><i class="fa fa-linkedin footer-icon" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="icon-circle">
      <div class="circle">
        <a href="#"><i class="fa fa-envelope footer-icon" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>

  <div class="footer-text">
    <p>
      © 2022 Ezunu Bank (RC255). All rights reserved. All deposits are
      insured by the Nigerian Deposit Insurance Corporation (NDIC).
      Ezunu Bank is licensed by the Central Bank of Nigeria.
    </p>
  </div>


</footer>
<script src="public/index.js" charset="utf-8"></script>
</body>

</html>
