<%- include("partials/header") -%>
<!-- <section style="background-color: #001D6E">
  <div class="row">
    <div class="col-lg-6 col-12">
      <img class="carousel-img" src="images/lion.png" alt="">
    </div>
    <div class="col-lg-6 col-12">
      <h1>We Understand Your Banking Needs</h1>
      <h6>From your simple day to day need, to your bigger goals, you can count on us</h6>
      <button type="button" class="btn btn-light btn-lg btn-top ">Open an instant Account</button>
    </div>
  </div>

</section> -->

<section>
  <div class="d-none d-lg-block">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" data-interval="3000">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <!-- <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button> -->

      </div>
      <div class="carousel-inner">
        <div class="carousel-item active top-carousel-item" style="background-color: #C4DDFF">
          <div class="row">
            <div class="col-lg-6 col-12">
              <img class="carousel-img" src="images/lion.png" alt="">
            </div>
            <div class="col-lg-6 col-12 top-carousel">
              <h1 class="blue">We Understand Your Banking Needs</h1>
              <h6 class="blue">From your simple day to day need, to your bigger goals, you can count on us</h6>
              <a href="/instant-account"><button href="/instant-account" type="button" class="btn  btn-outline-success">Open an instant Account</button></a>
            </div>
          </div>
        </div>

        <div class="carousel-item top-carousel-item" style="background-color:  #C4DDFF">
          <div class="row">
            <div class="col-lg-6 col-12">
              <img class="pos" src="images/Pos.png" alt="">
            </div>
            <div class="col-lg-6 col-12 top-carousel">
              <h1 class="blue">Agent Banking</h1>
              <h6 class="blue">From your simple day to day need, to your bigger goals, you can count on us</h6>
              <button type="button" class="btn  btn-outline-success">Open an instant Account</button>
            </div>
          </div>

        </div>
        <button type="button" class="btn btn-light btn-lg btn-top ">Learn More</button>

        <div class="carousel-item top-carousel-item" style="background-color: #001D6E">
          <div class="row">
            <div class="col-lg-6 col-12 ">
              <img class="future-image" src="images/future.png" alt="">
            </div>
            <div class="col-lg-6 col-12 top-carousel">
              <h1>We Understand Your Banking Needs</h1>
              <h6>From your simple day to day need, to your bigger goals, you can count on us</h6>
              <button type="button" class="btn btn-light btn-lg btn-top ">Open an instant Account</button>
            </div>
          </div>
        </div>
        <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button> -->
      </div>
    </div>
  </div>
  <div class="slide d-lg-none">
    <div id="carouselExampleSlidesOnly" class="carousel slide " data-bs-ride="carousel" data-interval="3000">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <!-- <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button> -->

      </div>
      <div class="carousel-inner">
        <div class="carousel-item active top-carousel-item" style="background-color: #C4DDFF">
          <div class="row">
            <div class="col-lg-6 col-12 top-carousel">
              <h1 class="blue">We Understand Your Banking Needs</h1>
              <h6 class="blue">From your simple day to day need, to your bigger goals, you can count on us</h6>
              <a href="/instant-account"><button href="/instant-account" type="button" class="btn  btn-outline-success">Open an instant Account</button></a>
            </div>
            <div class="col-lg-6 col-12 top-carousel">
              <img class="carousel-img" src="images/lion.png" alt="">
            </div>
          </div>
        </div>

        <div class="carousel-item top-carousel-item" style="background-color:  #C4DDFF">
          <div class="row">
            <div class="col-lg-6 col-12 top-carousel">
              <h1 class="blue">Agent Banking</h1>
              <h6 class="blue">From your simple day to day need, to your bigger goals, you can count on us</h6>
              <button type="button" class="btn  btn-outline-success">Learn More</button>
            </div>
            <div class="col-lg-6 col-12 top-carousel">
              <img class="pos" src="images/Pos.png" alt="">
            </div>
          </div>

        </div>
        <button type="button" class="btn btn-light btn-lg btn-top ">Learn More</button>

        <div class="carousel-item top-carousel-item" style="background-color: #001D6E">
          <div class="row">
            <div class="col-lg-6 col-12 top-carousel">
              <h1>We Understand Your Banking Needs</h1>
              <h6>From your simple day to day need, to your bigger goals, you can count on us</h6>
              <button type="button" class="btn btn-light btn-lg btn-top ">Learn More</button>
            </div>
            <div class="col-lg-6 col-12 top-carousel">
              <img class="future-image" src="images/future.png" alt="">
            </div>
          </div>
        </div>
        <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button> -->
      </div>
    </div>
  </div>

</section>

<!-- <section>
  <div class="row">

    <div class="col-lg-6 col-12 header">
      <img class="ezunu-phone" src="images/phone.png" alt="chuchom">
      <div class="">
        <h6><i class="fa-thin fa-shield-keyhole"></i>Secure</h6>
      </div>
      <div class="">
        <h6><i class="fa-thin fa-clock-three"></i>24/7<br>Support</h6>
      </div>
      <div class="">
        <h6><i class="fa-thin fa-bolt-lightning"></i>Faster<br>Transactions</h6>
      </div>

    </div>
    <div class="col-lg-6 col-12">
      <h1>We Understand Your Banking Needs</h1>
      <h6>From your simple day to day need, to your bigger goals, you can count on us</h6>
      <button  type="button" class="btn btn-light btn-lg btn-top ">Open an instant Account</button>
    </div>
  </div>
</section> -->

<section id="second">
  <div class="row blue">
    <div class="feature-box col-lg-3 col-6">
      <div class="feature-circle">
        <img class="icon" src="images/cards.png" alt="">
      </div>
      <h3 class="bold">Cards.</h3>
      <p>Credit & debit cards</p>
    </div>
    <div class="feature-box col-lg-3 col-6">
      <div class="feature-circle">
        <img class="icon" src="images/investing.png" alt="">
      </div>
      <h3 class="bold">Investing</h3>
      <p>Grow with us, by spending wisely</p>
    </div>
    <div class="feature-box col-lg-3 col-6">
      <div class="feature-circle">
        <img class="icon" src="images/loan.png" alt="">
      </div>
      <h3 class="bold">Loans.</h3>
      <p>You always have our back</p>
    </div>
    <div class="feature-box col-lg-3 col-6">
      <div class="feature-circle">
        <img class="icon" src="images/contact.png" alt="">
      </div>
      <h3 class="bold">Contact.</h3>
      <p>We care for your what you want to say.</p>
    </div>

  </div>
</section>

<section id="third">
  <h2 class="bold rec">Recommended For You</h2>
  <div class="row ">
    <div class="col-lg-4 col-12">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-4">
            <img src="images/growth.png" class="img-fluid rounded-start blog-image" alt="...">
          </div>
          <div class="col-8">
            <div class="card-body">
              <a class="blue" href="">
                <h4 class="card-title">Grow Your Business</h4>
                <p class="card-text">Grow your Business strategically with us.</p>
              </a>
              <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-lg-4 col-12">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-4">
            <img src="images/support.png" class="img-fluid rounded-start blog-image" alt="...">
          </div>
          <div class="col-8">
            <div class="card-body">
              <a class="blue" href="#">
                <h4 class="card-title">Support</h4>
                <p class="card-text"> 24/7 customer service</p>
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-lg-4 col-12">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-4">
            <img src="images/whatsapp.png" class="img-fluid rounded-start blog-image" alt="...">
          </div>
          <div class="col-8">
            <div class="card-body">
              <a class="blue" href="#">
                <h4 class="card-title">WhasApp Banki</h4>
                <p class="card-text">Just like messaging the loml</p>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="row ">
    <div class="col-lg-4 col-12">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-4">
            <img src="images/home.png" class="img-fluid rounded-start blog-image" alt="...">
          </div>
          <div class="col-8">
            <div class="card-body">
              <a class="blue" href="#">
                <h4 class="card-title">Bank From Your Home</h4>
                <p class="card-text">Banking made easy</p>
              </a>
              <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-lg-4 col-12">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-4">
            <img src="images/property.png" class="img-fluid rounded-start blog-image" alt="...">
          </div>
          <div class="col-8">
            <div class="card-body">
              <a class="blue" href="#">
                <h4 class="card-title">Get a home</h4>
                <p class="card-text">Investing in your shelter the right way </p>
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-lg-4 col-12">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-4">
            <img src="images/education.png" class="img-fluid rounded-start blog-image" alt="...">
          </div>
          <div class="col-8">
            <div class="card-body">
              <a class="blue" href="#">
                <h4 class="card-title">WhasApp Banki</h4>
                <p class="card-text">Just like messaging the loml</p>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="row ">
    <div class="col-lg-4 col-12">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-4">
            <img src="images/private.png" class="img-fluid rounded-start blog-image" alt="...">
          </div>
          <div class="col-8">
            <div class="card-body">
              <a class="blue" href="#">
                <h4 class="card-title">Grow Your Business</h4>
                <p class="card-text">Grow your Business strategically with us.</p>
              </a>
              <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-lg-4 col-12">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-4">
            <img src="images/support.png" class="img-fluid rounded-start blog-image" alt="...">
          </div>
          <div class="col-8">
            <div class="card-body">
              <a class="blue" href="#">
                <h4 class="card-title">Support</h4>
                <p class="card-text"> 24/7 customer service</p>
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-lg-4 col-12">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-4">
            <img src="images/business.png" class="img-fluid rounded-start blog-image" alt="...">
          </div>
          <div class="col-8">
            <div class="card-body">
              <a class="blue" href="#">
                <h4 class="card-title">Business Banking</h4>
                <p class="card-text">Just like messaging the loml</p>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>

<!-- <section>

  <img src="" alt="">
  <img src="" alt="">
  <img src="" alt="">
  <img src="" alt="">
  <img src="" alt="">
  <h4>Our Partners</h4>
</section> -->


<section id="third">

  <h2 class="bold">Stories</h2>

  <div id="carouselExampleIndicators" class="carousel slide d-none d-lg-block" data-bs-ride="carousel">
    <!-- <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div> -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-2 h-100">
              <img class="card-img-top" src="images/12.png" alt="Card image cap">
              <div class="card-body">
                <a class="blue" href="#">
                  <h4 class="card-title">Global Inflation</h4>
                  <p class="card-text">What you should know about the impact of the Ukraine war on the global economy .</p>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2 h-100">
              <img class="card-img-top" src="images/11.png" alt="Card image cap">
              <div class="card-body">
                <a class="blue" href="#">
                  <h4 class="card-title">Healthy is wealth</h4>
                  <p class="card-text">Understand how, we can support you to live a healthy life.</p>
                </a>

              </div>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2 h-100">
              <img class="card-img-top" src="images/10.png" alt="Card image cap">
              <div class="card-body">
                <a class="blue" href="#">
                  <h4 class="card-title">Generational wealth</h4>
                  <p class="card-text">How these long lasting dynasties wwere built</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-2 h-100">
              <img class="card-img-top" src="images/12.png" alt="Card image cap">
              <div class="card-body">
                <a class="blue" href="#">
                  <h4 class="card-title">Global Inflation</h4>
                  <p class="card-text">What you should know about the impact of the Ukraine war on the global economy .</p>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2 h-100">
              <img class="card-img-top" src="images/11.png" alt="Card image cap">
              <div class="card-body">
                <a class="blue" href="#">
                  <h4 class="card-title">Healthy is wealth</h4>
                  <p class="card-text">Understand how, we can support you to live a healthy life.</p>
                </a>

              </div>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2 h-100">
              <img class="card-img-top" src="images/10.png" alt="Card image cap">
              <div class="card-body">
                <a class="blue" href="#">
                  <h4 class="card-title">Generational wealth</h4>
                  <p class="card-text">How these long lasting dynasties wwere built</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div id="carouselExampleSlidesOnly" class="carousel slide d-lg-none" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active ">
        <div class="col-md-4">
          <div class="card mb-2 ">
            <img class="card-img-top" src="images/12.png" alt="Card image cap">
            <div class="card-body last-body">
              <a class="blue" href="#">
                <h3 class="card-title">Global Inflation</h3>
                <p class="card-text">What you should know about the impact of the Ukraine war on the global economy .</p>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item ">
        <div class="col-md-4">
          <div class="card mb-2 ">
            <img class="card-img-top" src="images/11.png" alt="Card image cap">
            <div class="card-body last-body">
              <a class="blue" href="#">
                <h3 class="card-title">Global Inflation</h3>
                <p class="card-text">What you should know about the impact of the Ukraine war on the global economy .</p>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item ">
        <div class="col-md-4">
          <div class="card mb-2 ">
            <img class="card-img-top" src="images/10.png" alt="Card image cap">
            <div class="card-body last-body">
              <a class="blue" href="#">
                <h3 class="card-title">Global Inflation</h3>
                <p class="card-text">What you should know about the impact of the Ukraine war on the global economy .</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>






<%- include("partials/footer") -%>
