<%- include("partials/header") -%>
<section>

<div class="row instant-account" style="background-color: #C4DDFF">
  <div class="col-lg-6 col-12">
    <h1 class="blue">Open an Ezunu account</h1>
    <h6 class="blue">Welcome, with us you roar like a lion</h6>
    <button type="button" class="btn btn-dark btn-lg "><i class="fa-brands fa-apple"></i> Download</button>
    <button type="button" class="btn btn-outline-light btn-lg"><i class="fa-brands fa-google-play"></i> Download</button>
  </div>
  <div class="col-lg-6 col-12 image-container top-carousel">
    <img class="phone" src="images/phone.png" alt="">
  </div>
</div>
</section>

<section id="second">
<h3 class="blue">Terms & comditions</h3>
<p class="blue">Contrary to popular belief, Lorem Ipsum is not simply random text.
   It has roots in a piece of classical Latin literature from 45 BC,
   making it over 2000 years old. Richard McClintock, a Latin professor
   at Hampden-Sydney College in Virginia, looked up one of the more obscure
    Latin words, consectetur, from a Lorem Ipsum passage, and going through
    the cites of the word in classical literature, discovered the undoubtable source.
    Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum"
    (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise
    on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum,
     "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
     <p class="blue">Nb: Registering means you are agree to the terms and conditions</p>

     <form class=" blue" action="index.html" method="post">

  <!-- Checkbox -->
  <div class="form-check d-flex justify-content-center mb-4">
    <input class="form-check-input me-2" type="checkbox" value="" id="form4Example4" required />
    <label class="form-check-label" for="form4Example4">
      I Agree
    </label>
  </div>

  <!-- Submit button -->
  <a href="/register"><button href="/instant-account" type="button" class="btn  btn-outline-success">Register</button></a>

     </form>

</section>







<%- include("partials/footer") -%>
